body {
    background-color: rgb(160, 22, 52);
    padding: 0;
    margin: 0;
}


.container-top-title {
        background-color: violet;
        text-align: center;
        height: 50px;
        margin: 0;
}

 .container{

    position: relative; 
    display: flex;

}

.container-side-left, .container-side-right {
    flex-basis: calc(50%); 
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.container-side-left{
    background-color: green;
    height: 100%;
    border: 1px solid black;
}

.container-side-right {
    background-color: red;
    border: 1px solid black;
} 
.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    background-color: blue;
}
.beam {
    width: 200px;
    height: 20px;
    background-color: #654321;
}

.gallows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallows-bottom {
    width: 20px;
    height: 150px;
    background-color: #654321;
}

.gallows-top {
    width: 100px;
    height: 20px;
    background-color: #654321;
}

.gallows-rope {
    width: 5px;
    height: 100px;
    background-color: #654321;
}

.body-box {
    position: relative;
    background-color: rgb(16, 214, 26);
    width: 250px;
    height: 250px;
    
}

.head, .body-shape, .left-arm, .right-arm, .left-leg, .right-leg {
    position: absolute;
    background-color: black;
  }

.head{
    top: 0;
    left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

.body-shape{
    top: 50px;
    left: 100px;
    width: 50px;
    height: 100px;
    border-radius: 20px;
   
}

.left-arm, .right-arm {
    top: 50px; 
    width: 15px;
    height: 75px;
    border-radius: 20px;
  }

.left-arm{
    left: 40px;
    transform-origin: bottom right;
    transform: rotate(45deg);
}

.right-arm{
    right: 40px;
    transform-origin: bottom left;
    transform: rotate(-45deg);

}

.left-leg, .right-leg {
    top: 140px;
    width: 20px;
    height: 95px;
    border-radius: 20px;
  }

.left-leg{
    left: 100px;

}

.right-leg{
    right: 100px;
} 


.container-informacoes{
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 40px;
}

.container-informacoes .question, .answer{
    display: block;
    border: 1px solid black;
}

.container-informacoes .question {
    font-size: 26px;
}

.container-keyboard{
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    height: auto;
    text-align: center;   
}

.container-keyboard .key {
    justify-content: space-between;
    background-color: rgb(124, 32, 59);
    color: white;
    /* padding: 10px 20px; /*Adiciona padding horizontal para espaçamento entre a borda e os botões*/
    padding: 0;
    width: 70px;
    height: 40px;
    cursor: pointer;

}


.players-name{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.controls-container{
    border: 1px solid black;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 140px;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 5);
    border: 5px solid rgb(28, 76, 233);
    border-radius: 6px;
    position: relative;
}

.insert-name-user {
    margin-top: 1rem;
}

.insert-name-user label {
    display: block;
    margin-bottom: 5px; /* Adicione um espaçamento entre o rótulo e o campo de entrada */
    font-size: 1.5rem;
    font-weight: bold;
}

.insert-name-user input {
    display: block;
    width: 50vh;
    height: 5vh;
    font-size: 1.5rem;
    color: rgb(77, 8, 238);
}

.start-quiz{
    background-color: white;
    color: green;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid green;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    margin: 5px;
    transition: 0.2s;
}

.hide{
    display: none;
}